.bgOptimize {
    background-image: url('../public/bgOptimize.jpg');
    background-size: cover;
}

.bgForm {
    background-image: url('../public/bgForm.jpg');
    background-size: cover;
}

.placeholder::placeholder {
    color: white;
}

.placeholder {
    border-bottom: 1px solid gray;
}

.bgMeezan {
    background-image: url('../public/meezan.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

.bgtransFast {
    background-image: url('../public/transFast.png');
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
}

.bgxPress {
    background-image: url('../public/xPress.png');
    background-repeat: no-repeat;
    padding: 0px;
    background-position: center;
    filter: grayscale(100%);
    background-size: contain;
}

.bgMeezan:hover,
.bgtransFast:hover,
.bgxPress:hover {
    filter: grayscale(0);
}

.wave {
    background-image: url('../public/wave.png');
    background-size: cover;
}