.bgOptimize {
  background-image: url("/bgOptimize.jpg");
  background-size: cover;
}

.bgForm {
  background-image: url("/bgForm.jpg");
  background-size: cover;
}

.placeholder::placeholder {
  color: white;
}

.placeholder {
  border-bottom: 1px solid gray;
}

.bgMeezan {
  background-image: url("/meezan.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}

.bgtransFast {
  background-image: url("/transFast.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
}

.bgxPress {
  background-image: url("/xPress.png");
  background-repeat: no-repeat;
  padding: 0px;
  background-position: center;
  filter: grayscale(100%);
  background-size: contain;
}

.bgMeezan:hover,
.bgtransFast:hover,
.bgxPress:hover {
  filter: grayscale(0);
}

.wave {
  background-image: url("/wave.png");
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F4D007;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 1);
}

.bgGradient {
  background: linear-gradient(to right, #5e5d5d, #a19f9f);
}

.bgIndex{
  
}
